:root {
     --White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Black: hsl(0, 0%, 8%);
    --font: 'Epilogue', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
*,*::after,*::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5;
}
img {
    max-width: 100%;
    max-height: auto;
    display: inline-block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--Medium-Gray);
}

body {
    font-family: var(--font);
    max-height: 100vh;
}

.main-section {
    padding: 30px;
    max-height: inherit;
    font-size: 18px;
    margin-bottom: 6rem;
}
/* navigation */
.main-nav {
    display: flex;
    align-items: center;
}
.main-nav .logo-img {
    margin-right: 40px;
}
.main-nav .nav-links {
    display: flex;

}
.main-nav .nav-links li {
    margin-right: 30px;
}
.main-nav .login-section {
    margin-left: auto;
}
.main-nav .login-section .login{
    padding-right: 2rem;
}

/* header main section */
.header {
    display: flex;
    padding: 3rem 8rem;
}
/* info-section */
.info-section {
    flex: 1 1 30rem;
    padding-right:  7rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.info-section .header-one {
    color: var(--Black);
    font-size: 5.2rem;
    margin-bottom: 3rem;
}
.info-section .para {
    margin-bottom: 4rem;
}
.info-logos {
    margin-top: 4rem;
}
.info-logos ul{
display: flex;
}
.info-logos ul li:not(:last-child) {
    padding-right: 4rem;
}
/* image section */
.img-section {
    flex: 1 0 20rem;
    width: 100%;
}

