:root {
     --White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Black: hsl(0, 0%, 8%);
    --font: 'Epilogue', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
*,*::after,*::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5;
}
img {
    max-width: 100%;
    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--Medium-Gray);
}
img {
    display: inline-block;
}

body {
    font-family: var(--font);
    max-height: 100vh;
}

.main-section {
    padding: 30px;
    max-height: 100vh;
    font-size: 18px;
    margin-bottom: 6rem;
}
.btn {
    padding: 1rem 2rem;
}
/* navigation */
.main-nav {
    width: 90%;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.main-nav .logo-container {
    width: 6rem;
}
.main-nav .logo-img {
    margin-right: 40px;
}
.main-nav .nav-links {
    display: flex;
}
.main-nav .nav-links li {
    margin-right: 2rem;
}
.main-nav .nav-links li a  {
   align-self: center;
   width: 100%;
}
.main-nav .nav-links li a img {
    width: .8rem;
}
.main-nav .login-section {
    margin-left: auto;
}
.main-nav .login-section .login{
    padding-right: 2rem;
}

/* header main section */
.header {
    display: flex;
    padding: 3rem 8rem;
}
/* info-section */



