:root {
     --White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Black: hsl(0, 0%, 8%);
    --font: 'Epilogue', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
*,*::after,*::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5;
}
img {
    max-width: 100%;
    display: inline-block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--Medium-Gray);
}


body {
    font-family: var(--font);
}
.main-container {
    max-height: 100vh;
    max-width: 110rem;
    margin: 0 auto;

}
/* navigation */
.navigation {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    
}
.logo-container {
    width: 5rem;
    margin-right: 4rem;
    display: flex;
    align-items: center;
}
.logo {
    height: auto;
    width: 100%;

}

.navigation-links a {
    margin-right: 2rem;
}
.user {
  margin-left: auto;
}
.btn {
    padding: .8rem 1.2rem;
}
.user .register-btn {
    margin-left: 1rem;
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 10px;
}
.user .register-btn:hover {
    color: var(--White);
    background-color: var(--Black);
}
/* hero main section */
.hero-section {
    display: flex;
    padding: 0 10rem;
    
}
/* info-section */
.info-section {
   flex: 0 1 60%;
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.info-section .info-section-header {
    font-size: 5.2rem;
    color: var(--Black);
}
.info-section .info-section-paragraph {
    padding: 3rem 3rem 4rem 0;
    letter-spacing: 1px;
    line-height: 1.5;
    color: var(--Medium-Gray);
}
.info-section-btn {
    align-self: flex-start;
    background-color: var(--Black);
    border-radius: 10px;
    color: var(--White);
    border: 2px solid black;

}
.info-section-btn:hover {
    background-color: var(--White);
    color: var(--Black);
    border: 2px solid black;
}
.companies-logos {
    margin-top: 9rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
/* image-section */
.img-section { 
    flex: 2 0 40%;
    /* background-image: url(images/image-hero-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}
    .hero-img {
        width: 100%;
    }

